Wrong section referenced for auth-param

https://tools.ietf.org/id/draft-cavage-http-signatures-07.html#sig-header says
> The sender is expected to transmit a header (as defined in RFC 7230, Section 3.2) where the "field-name" is "Signature", and the "field-value" contains one or more "auth-param"s (as defined in RFC 7235, Section 4.1)

However, auth-param is defined in https://tools.ietf.org/html/rfc7235#section-2.1.

Thank  you, will fix in next edit cycle.

PR with fix, sorry for the delay :stuck_out_tongue: 

@liamdennehy this is fixed, can we close?

I don't have access to manage issues.

@jyasskin, @msporny ?

@liamdennehy wrote:
> I don't have access to manage issues.

Sent you an invite, @liamdennehy -- you will want to accept it.

https://github.com/orgs/w3c-dvcg/teams/http-signatures-developers

Fixed in https://github.com/w3c-dvcg/http-signatures/pull/49