Reformat list of recommendations in section E.2

Section E.2 in revision 12 has a list of recommendations. The list has multiple commas with "nested" commas, which makes it non-obvious to parse the sentence. I suggest to format the paragraph differently, that would help to clarify the recommendations. I understand there is an editor note that states the list is problematic, which suggests this will be changed. 

The current paragraph states:
Hash Algorithm: RFC 6234 [RFC6234], SHA-512 (SHA-2 with 512-bits of digest output)
Digital Signature Algorithm: Derived from metadata associated withkeyId. Recommend support for RFC 8017 [RFC8017], Section 8.1: RSASSA-PSS, RFC 6234 [RFC6234], Section 7.1: SHA-Based HMACs, ANSI X9.62-2005 ECDSA, P-256, and RFC 8032 [RFC8032], Section 5.1: Ed25519ph, Ed25519ctx, and Ed25519.

A possible formatting suggestion would be a numbered list such as:

Recommend support for:

RFC 8017 [RFC8017], Section 8.1: RSASSA-PSS
RFC 6234 [RFC6234], Section 7.1: SHA-Based HMACs
ANSI X9.62-2005 ECDSA, P-256
RFC 8032 [RFC8032], Section 5.1: Ed25519ph, Ed25519ctx, and Ed25519.
Why is "RFC 6234 [RFC6234], Section 7.1: SHA-Based HMACs" listed twice? Once in the hash algorithm recommendations, and then one more time in the "Digital Signature Algorithm recommendations"? It's not clear how RFC 6234 is applicable to the DSA recommendation, especially given the fact the first reference is explicitly listing SHA-512, but the second reference is more generic.